{% extends 'base.html.twig' %}

{% block title %}Hello EventController!
{% endblock %}

{% block body %}
	<main class="container-lg mt-4">
		{{form_start(form)}}
		{{form_row(form)}}
		<button class="btn btn-primary">Envoyer</button>
		{{form_end(form)}}
	</main>
{% endblock %}
